<div id="input_area">
  <input id="create_word" type="submit" value="Create Word">
</div>

<div id="wr_heading_row" class="word_table heading">
  <div class="prompt">
    <!-- Enter a phoneme: -->
  </div>
  <div class="phoneme_text overlapping"> 
    <input id="new_phoneme" type="text">
  </div>
  <div class="phonemes reversed">
    <div class="spacer reversed"> </div>
  </div>
</div>

<script>
  $(document).delegate('*', 'keypress', function (evt) {
    if (!$("#new_phoneme").focus()) {
      $("#new_phoneme").focus().val($("#new_phoneme").val());
    }
  });
  $(document).ready(function() {
    $("#new_phoneme").focus().val($("#new_phoneme").val());
    // $(function() {
    //   $("#new_phoneme").autocomplete({
    //     source: '<%= new_word_path(:json) %>',
    //     select: function(event, ui) {
    //       $("#new_phoneme").val(ui.item.label);
    //       $("#wr_heading_row div.phonemes").append("<div class='single_phoneme reversed'>" + ui.item.label + "</div><div class='spacer reversed'></div>");
    //       $("#new_phoneme").val("");
    //       $("#new_phoneme").focus().val($("#new_phoneme").val());
    //       return false;
    //     }
    //   }).data("uiAutocomplete")._renderItem = function(ul, item) {
    //     return $("<li></li>")
    //       .data("item.autocomplete", item)
    //       .append("<a><span class='autoleft'>" + item.label + " (" + item.type + ")" + " </span></a>")
    //       .appendTo(ul);
    //     };
    // });
    $("#new_phoneme").tokenInput("<%= new_word_path(:json) %>", {
              propertyToSearch: "label",
              resultsFormatter: function(item){ return "<li>" + item.label + " (" + item.type + ")</li>" },
              tokenFormatter: function(item) { return "<li><p>" + item.label + "</p></li>" }
    });
    // $("#new_phoneme").tokenInput("<%= new_word_path(:json) %>", {theme: "facebook"});
  });
</script>