<%= render "layouts/title" %>

<div id="input_area">
	This is the page for editing words. It is not yet functional.  
</div>

<script type="text/javascript">
	$("a.word_link").css("color", "rgba(200, 0, 40, 1)");
	$("div.title_word").css("color", "rgba(200, 0, 40, 1)");
	$("#query_text").css("color", "rgba(200, 0, 40, 1)");
	$("div.heading").css("color", "rgba(200, 0, 40, 1)");
</script>