<%= render "layouts/title" %>
<%= render "search_bar" %>
<div id="results_table">
  <%= render "table" %> 
</div>

<script type="text/javascript">
  if ($("#query_dictionary").val()=="1") {
    $("a.word_link").css("color", "rgba(200, 0, 40, 1)");
    $("div.title_word").css("color", "rgba(200, 0, 40, 1)");
    $("#query_text").css("color", "rgba(200, 0, 40, 1)");
    $("div.heading").css("color", "rgba(200, 0, 40, 1)");
  }
</script>
