/*
 *= require jquery-ui/smoothness
 *= require token-input-phonemes
 *= require rhyming_diagram
 *
 */

* {
  padding:          0;
  margin:           0;
  box-sizing:       border-box;
}

html {
  background:       white;
}

a {
  color:            rgba(0, 40, 200, 1);
}
     
a:hover, a:active {
  font-weight:      bold;
}

input {
  font:                 13pt "Myriad Pro", Helvetica;
}

select {
  font:                 13pt "Myriad Pro", Helvetica;
  background-color:     rgba(0,0,0,0);
  border-style:         none;
  line-height:          1.6;  
}

body {
  font: 13pt "Myriad Pro", Helvetica;
  margin: 5px 10% 0 10%;
  height: 100%;
  padding: 30px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
}

.flash {
  width:          1000px; 
  height:         80px; 
  line-height:    80px;
  vertical-align: middle;
}

#title_banner {
  width: 1000px;
}

div.title_word {
  float:               left;
  color:               rgba(0, 40, 200, 1);
  height:              40px;
  padding-right:       20px;
}

div.title_gr {
  display:        inline-block;
  float:          left;
  height:         40px;
}

#links {
  float:          right;
}

#input_area {
  height:         80px; 
  margin-top:     80px;
  width:          1000px;
  /*margin-right:   auto;*/
  margin-right:    0px;
  margin-left:    0px;
}

#input_area div {
  float:          left;
  vertical-align: middle;
  height:         40px;
  line-height:    30px;
}

.main-input {
  /*border-style:  none;*/
  /*font-weight:   bold;*/
  color:         rgba(0, 40, 200, 1);
  height:        32px;
  width:         920px;
  line-height:   1.6;
}

input:focus {
  /*outline:          none;*/
  /*border-color:     #9ecaed;*/
  /*box-shadow:       inset 0 0 15px 5px #9ecaed;*/
  /*border-bottom:    none;*/
}

#query_text {
  display: inline-block;
  /*width:         242px;*/
  padding-left:  4px;
}

.rap_button_box {
  /*display: inline-block;*/
  /*position: relative;
  left: 950px;
  top: -40px;*/
  margin-left: 10px;
}

.rap_button {
  height: 32px;
  border: none;
  width: 70px;
}

#new_phoneme {
  width:         200px;
  margin-left:   150px;
  padding-left:  10px;
}

div.heading {
  /*font-weight:   bold;*/
  color:         rgba(0, 40, 200, 1);
  height:        48px;
  border-bottom: 2px solid #000;
}

div.odd {
  background:   rgba(255, 255, 255, 1.0);
}

div.even {
  background:   rgba(230, 230, 230, 1.0);
}

div.word_table {
  width:          1000px;
  /*height:         auto;*/
  /*margin-bottom:  0px;*/
  /*margin-top:     0px;*/
}

div.word {
  float:          left;
  width:          250px;
  height:         48px;
  vertical-align: middle;
  line-height:    48px;
  padding-left:   8px;
}

div.controls {
  float:          left;
  width:          120px;
  height:         48px;
  padding-top:    12px;
  padding-bottom: 12px;
}

div.syllables {
  float:          left;
  width:          30px;
  text-align:     center;
  height:         48px;
  vertical-align: middle;
  line-height:    48px;
}

div.pronunciation {
  float:          left;
  width:          600px;
  height:         48px;
}

div.pronunciation.normal_order {
  margin-left:    auto;
  margin-right:   0px;
}

div.pronunciation.reversed {
  margin-left:    0px;
  margin-right:   auto;
}

div.lexemes {
  width:          1000px;
  height:         auto;
  padding-left:   15px;
  padding-right:  15px;
  padding-top:    5px;
  padding-bottom: 5px;
  vertical-align: middle;
  line-height:    20px;
  font:           11pt "Myriad Pro", Helvetica;
}

div.lexeme_spacer {
  float:          left;
  width:          1000px;
  height:         15px;
}

div.single_syllable {
  /*width:          34px;*/
  height:         48px;
  text-align:     center;
  vertical-align: middle;
  line-height:    48px;
  /*background-color: rgba(255,220,240,1);*/
}

div.single_syllable.normal_order {
  float:          right;
}

div.single_syllable.reversed {
  float:          left;
}

input.word_controls {
  display:    inline-block;
  float:      left;
}

div.spacer {
  padding-left:   3px;
  padding-right:  3px;
  height:         48px;
  vertical-align: middle;
  text-align:     center;
  line-height:    48px;
}

div.spacer.normal_order {
  float:          right;
}

div.spacer.reversed {
  float:          left;
}

div.match {
  /*font-weight:    bold;*/
  color:          rgba(0, 40, 200, 1);
}

.ui-menu .ui-menu-item {
  list-style-image: none !important;
}

.ui-menu-item a {
  font: 13pt "Myriad Pro", Helvetica;
  overflow: hidden;
  margin:0;
  padding:0;
  width: 910px;
}

span.autoleft {
  margin: 0;
  display: block;
  float:          left;
  text-align:     left;
}

span.autoright {
  margin: 0;
  display: block;
  float:          right;
  text-align:     right; 
}

.rhyming_link {
  color:            rgba(0, 40, 200, 1);
}

.dictionary_link {
  color:            rgba(200, 0, 40, 1);
}

.prompt {
  color:          rgba(0, 0, 0, 1);
  font-weight:    normal;
  height:         48px;
  vertical-align: middle;
  line-height:    48px;
  padding-left:    8px;
}

.prompt-text {
  float: left;
  padding-right: 12px;
}

div.phoneme_text {
  float: left;
  text-align:     left;
  height:         48px;
  vertical-align: middle;
  line-height:    48px;
}
