/*
 *= require jquery-ui/smoothness
 *
 */

* {
  padding: 0;
  margin: 0;
}

html {
  background: white;
}

a {
  color:            rgba(0, 40, 200, 1);
}
     
a:hover, a:active {
  font-weight:      bold;
}

input {
  font: 13pt "Myriad Pro", Helvetica;
}

body {
  font: 13pt "Myriad Pro", Helvetica;
  margin: 5px 10% 0 10%;
  height: 100%;
  padding: 30px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
}

.flash {
  width:          1000px; 
  height:         80px; 
  line-height:    80px;
  vertical-align: middle;
}

#title_banner {
  width: 1000px;
}

div.title_word {
  float:               left;
  color:               rgba(0, 40, 200, 1);
  height:              40px;
  padding-right:       20px;
}

div.title_gr {
  display:        inline-block;
  float:          left;
  height:         40px;
}

#links {
  float:          right;
}

#input_area {
  height:         80px; 
  margin-top:     80px;
  width:          1000px;
  /*margin-right:   auto;*/
  margin-right:    0px;
  margin-left:    0px;
}

#input_area div {
  float:          left;
  vertical-align: middle;
  height:         40px;
  line-height:    30px;
}

#input_area div.text_field {
  width:         0px;
  height:        48px;
  position:      absolute;
  z-index :      20;
}

input[type=text] {
  border-style:  none;
  font-weight:   bold;
  color:         rgba(0, 40, 200, 1);
  background:    rgba(255, 255, 255, 0.0);
  height:        48px;
  line-height:   30px;
  position:      absolute;
  z-index :      20;
}

#query_text {
  width:         992px;
  padding-left:  8px;
}

#new_phoneme {
  width:         200px;
  margin-left:   150px;
  padding-left:  10px;
}

div.overlapping {
  position:       absolute;
}

input:focus {
  outline:          none;
  /*border-color:     #9ecaed;*/
  /*box-shadow:       inset 0 0 15px 5px #9ecaed;*/
  border-bottom:    none;
}

#input_area div.first_phoneme_field {
  width:         195px;
}

#input_area div.num_syllables_field {
  width:         235px;
}

#input_area div.word_type_field {
  width:         175px;
}

#input_area div.perfect_box {
  width:         170px;
}

#input_area div.reverse_box {
  width:         175px;
}

#input_area div.rap_button_box {
  float:         right;
}

div.heading {
  font-weight:   bold;
  color:         rgba(0, 40, 200, 1);
  height:        48px;
  border-bottom: 2px solid #000;
}

div.odd {
  background:   rgba(255, 255, 255, 1.0);
}

div.even {
  background:   rgba(230, 230, 230, 1.0);
}

div.word_table {
  width:          1000px;
  /*height:         auto;*/
  /*margin-bottom:  0px;*/
  /*margin-top:     0px;*/
}

div.word {
  float:          left;
  width:          272px;
  height:         48px;
  vertical-align: middle;
  line-height:    48px;
  padding-left:    8px;
}

div.syllables {
  float:          left;
  width:          80px;
  text-align:     left;
  height:         48px;
  vertical-align: middle;
  line-height:    48px;
}

div.phonemes {
  float:          left;
  width:          640px;
  height:         48px;
}

div.phonemes.normal_order {
  margin-left:    auto;
  margin-right:   0px;
}

div.phonemes.reversed {
  margin-left:    0px;
  margin-right:   auto;
}

div.lexemes {
  width:          970px;
  height:         auto;
  padding-left:   15px;
  padding-right:  15px;
  padding-top:    5px;
  padding-bottom: 5px;
  vertical-align: middle;
  line-height:    20px;
  font:           11pt "Myriad Pro", Helvetica;
}

div.lexeme_spacer {
  float:          left;
  width:          1000px;
  height:         15px;
}

div.single_phoneme {
  /*width:          34px;*/
  height:         48px;
  text-align:     center;
  vertical-align: middle;
  line-height:    48px;
  /*background-color: rgba(255,220,240,1);*/
}

div.single_phoneme.normal_order {
  float:          right;
}

div.single_phoneme.reversed {
  float:          left;
}

div.spacer {
  padding-left:   3px;
  padding-right:  3px;
  height:         48px;
  vertical-align: middle;
  text-align:     center;
  line-height:    48px;
}

div.spacer.normal_order {
  float:          right;
}

div.spacer.reversed {
  float:          left;
}

div.match {
  font-weight:    bold;
  color:          rgba(0, 40, 200, 1);
}

.ui-menu .ui-menu-item {
  list-style-image: none !important;
}

.ui-menu-item a {
  font: 13pt "Myriad Pro", Helvetica;
  overflow: hidden;
  margin:0;
  padding:0;
}

span.autoleft {
  margin: 0;
  display: block;
  float:          left;
  text-align:     left;
}

span.autoright {
  margin: 0;
  display: block;
  float:          right;
  text-align:     right; 
}

.rhyming_link {
  color:            rgba(0, 40, 200, 1);
}

.dictionary_link {
  color:            rgba(200, 0, 40, 1);
}

div.prompt {
  color:          rgba(0, 0, 0, 1);
  font-weight:    normal;
  float:          left;
  height:         48px;
  width:          352px;
  vertical-align: middle;
  line-height:    48px;
  padding-left:    8px;
}

div.phoneme_text {
  float:          left;
  width:          200px;
  text-align:     left;
  height:         48px;
  vertical-align: middle;
  line-height:    48px;
}