.diagram_box {
	overflow:             hidden;
	height:               auto;
	width:                1000px;
	border-bottom:        2px solid #000;
}

.outer_container {
	height:               240px;
	width:                1000px;
	padding:              10px 30px 10px;
	overflow-x:           scroll;
  overflow-y:           hidden;
	white-space:          nowrap;
}

.num_syllables_box {
	margin:               15px 8px 0px;
}

.inner_container {
	height:               100%;
	margin:               0px auto;
}

.button {
  height:               32px;
  border:               none;
  background-color:     rgb(192,192,192);
}

.update.button {
  margin:               0px 0px 15px;
  float:                right;
  width:                90px;
}

.quick_match_text {
	height:               32px;
	margin:               0px 0px 15px 0px;
  float:                left;
  width:                120px;
  padding:              8px;
}
.preset.button {
	/*display: inline-block;*/
  margin:               0px 0px 15px 10px;
  float:                left;
  width:                150px;
  text-align:           center;
  padding:              5px;
}

.chunk_text {
	width:                50px;
	text-align:           center;
	background-color:     rgba(0,0,0,0);
	border-style:         none;
	line-height:          1.7;
}

.match_box {
	display:              block;
	margin:               10px 20px;
}

.syllable_container {
	display:              inline-block;
	float:                left;
	height:               100%;
	width:                auto;
	text-align:           center;
	padding:              10px 0px;
	overflow:             hidden;
}

.syllable_divider {
	display:              inline-block;
	float:                left;
	height:               100%;
	width:                2px;
	background-color:     black;
	margin:               0px 10px; 
}

.syllable_container.no_syllable {
	width:                0px;
	padding:              0px;
}

.multi_syllables_text {
	/*display:              inline-block;*/
	text-align:           center;
	margin:               10px 5px;	
}

.num_syllables_text {
	/*display:              inline-block;*/
	border-style:         solid;
	border-width:         2px;
	border-radius:        6px;
	width:                auto;
	padding:              5px 10px;
	height:               45px;
	margin-top:           65px;	
	min-width:            80px;
	text-align:           center;
	background-color:     rgba(0,0,0,0);
	line-height:          1.7;
}

.chunk_container {
	display:              inline-block;
	float:                left;
	height:               100%;
	width:                auto;
	text-align:           center;
	padding:              2px;
	line-height:          1.7;
}

.chunk {
	border-style:         solid;
	border-width:         2px;
	border-radius:        6px;
	width:                auto;
	padding:              5px 2px;
	height:               45px;
	margin-top:           10px;
}

.hidden {
	background-color:     rgba(0, 0, 0, 0.0);
	border-color:         rgba(0, 0, 0, 0.0);
}

.blue {
	background-color:     rgba(0, 0, 255, 0.6);
	border-color:         rgba(0, 0, 255, 0.9);
}

.red {
	background-color:     rgba(255, 0, 0, 0.6);
	border-color:         rgba(255, 0, 0, 0.9);
}

.green {
	background-color:     rgba(0, 150, 0, 0.6);
	border-color:         rgba(0, 150, 0, 0.9);
}

