* {
  padding:              0px;
  margin:               0px;
  box-sizing:           border-box;
}

html {
  background:           white;
}

body {
  font:                 14pt "Myriad Pro", Helvetica;
  margin:               100px 5% 0px;
  height:               100%;
}

.chunk_text, .num_syllables_text {
  font:                 14pt "Myriad Pro", Helvetica;
	width:                40px;
	text-align:           center;
	background-color:     rgba(0,0,0,0);
	border-style:         none;
	line-height:          1.6;
}

.num_syllables_text {
  font:                 14pt "Myriad Pro", Helvetica;
	width:                90px;
	text-align:           center;
	background-color:     rgba(0,0,0,0);
	border-style:         none;
	line-height:          1.6;
}

.match_box {
	display:              block;
	margin:               10px 25px;
}

.outer_container {
	height:               200px;
	width:                100%;
}

.syllable_container {
	display:              inline-block;
	float:                left;
	height:               100%;
	width:                auto;
	text-align:           center;
	padding:              10px 20px;
}

.multiple_syllable_container {
	display:              inline-block;
	float:                left;
	height:               100%;
	width:                160px;
	/*text-align:           center;*/
	padding:              10px 20px;	
}

.multi_syllables_text {
	text-align:           center;
	margin:               10px 5px;	
}

.num_syllables {
	border-style:         solid;
	border-width:         2px;
	border-radius:        6px;
	width:                116px;
	padding:              5px 10px;
	height:               45px;
	margin-top:           67px;	
}

.end_syllable {
	position:             relative;
	top:                  0px;
	left:                 0px;
}

.switcher {
	position:             relative;
}

.syllable_divider {
	display:              inline-block;
	float:                left;
	height:               100%;
	width:                2px;
	background-color:     black;
}

.chunk_container {
	display:              inline-block;
	float:                left;
	height:               100%;
	width:                auto;
	text-align:           center;
	padding:              2px;
	line-height:          1.6;
}

.chunk {
	border-style:         solid;
	border-width:         2px;
	border-radius:        6px;
	width:                auto;
	min-width:            45px;
	padding:              5px 10px;
	height:               45px;
	margin-top:           10px;
}

.hidden {
	background-color:     rgba(0, 0, 0, 0.0);
	border-color:         rgba(0, 0, 0, 0.0);
}

.blue {
	background-color:     rgba(0, 0, 255, 0.6);
	border-color:         rgba(0, 0, 255, 0.9);
}

.blue_pale {
	background-color:     rgba(0, 0, 255, 0.4);
	border-color:         rgba(0, 0, 255, 0.7);
}

.red {
	background-color:     rgba(255, 0, 0, 0.6);
	border-color:         rgba(255, 0, 0, 0.9);
}

.red_pale {
	background-color:     rgba(255, 0, 0, 0.4);
	border-color:         rgba(255, 0, 0, 0.7);
}

.green {
	background-color:     rgba(0, 150, 0, 0.6);
	border-color:         rgba(0, 150, 0, 0.9);
}

.green_pale {
	background-color:     rgba(0, 150, 0, 0.4);
	border-color:         rgba(0, 150, 0, 0.7);
}

/*.yellow {
	background-color:     rgba(200, 200, 0, 0.6);
	border-color:         rgba(200, 200, 0, 0.9);
}

.yellow_pale {
	background-color:     rgba(200, 200, 0, 0.4);
	border-color:         rgba(200, 200, 0, 0.7);
}*/

